* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-weight: 300;
	font-size: 12px;
	text-rendering: optimizeLegibility;
	color: #f0f0f0;
font-family: 'Rubik', sans-serif;
	background-color: #000;
}
#welcome-section {
	height: 100vh;
	background-color: #232426;
}
#navbar {
		width: 100%;
		background-color: #be3144;
		height: 65px;
		font-size: 1.6em;
		position:fixed;
		z-index: 100;
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
.nav-links {
	display: block;
	display: flex;
	position: absolute;
	right: 0;
	list-style: none;
	font-weight: bold;
	min-width: 30%;
	justify-content: space-evenly;
}
.nav-links a:link, .nav-links a:visited {
		text-decoration: none;
		color: #f0f0f0;
		transition: background-color 0.5s;
}
.nav-links li:hover, .nav-links li:active {
		background-color: #45567D;
}
.nav-links li {
	padding: 21.5px 21px;
	text-align: center;
}
.head-text {
	text-align: center;
	font-weight: bolder;
	padding-top: 4.5em;
	font-size: 5em;
}
.head-p {
	text-align: center;
	font-weight: thin;
	font-style: italic;
	color: #be3144;
	font-size: 2em;
}
#projects {
	background-color: #45567D;
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 8em;
}
.projects-text {
	
	padding-top: 2.2em;
	font-weight: bold;
	font-size: 3.2em;
	color: #f0f0f0;
	border-bottom: 3px solid #f0f0f0;
	max-width: 43%;
	margin: auto;
}
.project-tile {
	max-width: 90%;
	margin: auto;
	height: auto;
	display: grid;
	grid-template-rows: repeat(2,1fr);
	grid-gap: 3.1em;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 5em;
	padding-bottom: 7.5em;
}
.project-tile img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.project-tile div {
	 border-bottom-right-radius: 3px;
	  border-bottom-left-radius: 3px;
	  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	}
.tile-1 {
	display: grid;
  grid-template-rows: 2fr;
  	grid-template-columns: 1fr;
  	grid-template-areas: 
  	"header"
  	"footer";
}
.tile-1-img {
	grid-area: header;
}
.tile-1-1 {
		background-color: #303841;
		 border-bottom-right-radius: 3px;
		  border-bottom-left-radius: 3px;
		  grid-area: footer;
		  padding: 20px;
}
.tile-1-1 a {
	text-decoration: none;
	color: #f0f0f0; 
	font-size: 150%;
}
.project-tile-font {
	color:  #303841;
	transition: color .3s ease-out;
}
.tile-1:hover .project-tile-font {
	color: orange;
}




/*----------------section button--------------------*/
.show {
	text-decoration: none;
	color: #f0f0f0;
	padding: .7em 1.4em;
	background-color: #303841;
	border-radius: 2px;
	font-size: 180%;
	transition: background-color .3s padding .3s ease-out;	
}
.show:hover {
		background-color: #BE3144;
}
.show:hover .icon {
	padding-left: 2px;
}
.font-div {
	color: #f0f0f0;
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
}


/*===========footer=================*/
footer {
	background-color: #303841;
	width: 100%;
	height: auto;
	padding-top: 10em;
	position: relative;
	padding-bottom: 4em;
}

footer h3 {
text-align: center;
	font-weight: bolder;
	font-size: 4.5em;	
}
.footer-para {
	text-align: center;
	font-weight: thin;
	font-style: italic;
	font-size: 1.5em;
}
.contact-link {
		margin: auto;
		width: 70%;
		margin-top:3.7em;
		margin-bottom:4em;
}
.footer-icon-1 {
	display: flex;
		justify-content: space-evenly;
		width: 33%;
}
.footer-icon-2 {
	display: flex;
		justify-content: space-evenly;
		width: 52%;
}
.footer-icon {
	display: flex;
	justify-content: center;

}
.contact-link a {
	display: inline-block;
}
.footer-icon a:link, .footer-icon a:visited {
	text-decoration: none;
	color: #f0f0f0;
	font-weight: 200;
	font-size: 2em;
}
hr{
	border: 2px solid #BE3144;
	margin-bottom: 2em;
}
.footer-para-1-2 {
	display: flex;
	justify-content: space-around;
	width: 85%;
	margin: auto;
}
.footer-p-1 {
	display: inline-block;
	font-size: 120%;
	width: 60%;
}
.footer-p-2 {
	display: inline;
	font-size: 120%;
	width: 25%;
}

@media (max-width: 768px) {
	.project-tile {
		grid-template-rows: repeat(6,1fr);
		grid-template-columns: 1fr;
	}
	.projects-text {
		font-size: 2em;
		max-width: 80%;
	}
	.footer-icon {
		flex-direction: column;
		width: 100%;
	}
	.footer-icon-1 {
		display: flex;
			justify-content: space-evenly;
			width: 100%;
	}
	.footer-icon-2 {
		display: flex;
			justify-content: space-evenly;
			width: 100%;
	}
} 