* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-weight: 300;
	font-size: 12px;
	text-rendering: optimizeLegibility;
	color: #f0f0f0;
font-family: 'Rubik', sans-serif;
	background-color: #000;
}
#welcome-section {
	height: 100vh;
	background-color: #232426;
}
#navbar {
		width: 100%;
		background-color: #be3144;
		height: 65px;
		font-size: 1.6em;
		position:fixed;
}
.nav-links {
	display: block;
	display: flex;
	position: absolute;
	right: 0;
	list-style: none;
	font-weight: bold;
	min-width: 30%;
	justify-content: space-evenly;
}
.nav-links a:link, .nav-links a:visited {
		text-decoration: none;
		color: #f0f0f0;
		transition: background-color 0.5s;
}
.nav-links li:hover, .nav-links li:active {
		background-color: #45567D;
}
.nav-links li {
	padding: 21.5px 21px;
	text-align: center;
}
.head-text {
	text-align: center;
	font-weight: bolder;
	padding-top: 4.5em;
	font-size: 5em;
}
.head-p {
	text-align: center;
	font-weight: thin;
	font-style: italic;
	color: #be3144;
	font-size: 2em;
}
#projects {
	background-color: #45567D;
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 8em;
}
.projects-text {
	
	padding-top: 2.2em;
	font-weight: bold;
	font-size: 3.2em;
	color: #f0f0f0;
	border-bottom: 3px solid #f0f0f0;
	max-width: 43%;
	margin: auto;
}
.project-tile {
	max-width: 90%;
	margin: auto;
	height: auto;
	display: grid;
	grid-template-rows: repeat(2,1fr);
	grid-gap: 3.1em;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 5em;
	padding-bottom: 7.5em;
}
.project-tile img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.project-tile div {
	 border-bottom-right-radius: 3px;
	  border-bottom-left-radius: 3px;
	  box-shadow:1px 0 1px 1px #22222429;
	}
.tile-1 {
	display: grid;
  grid-template-rows: 2fr;
  	grid-template-columns: 1fr;
  	grid-template-areas: 
  	"header"
  	"footer";
}
.tile-1-img {
	grid-area: header;
}
.tile-1-1 {
		background-color: #303841;
		 border-bottom-right-radius: 3px;
		  border-bottom-left-radius: 3px;
		  grid-area: footer;
		  padding: 20px;
}
.tile-1-1 a {
	text-decoration: none;
	color: #f0f0f0; 
	font-size: 150%;
}
.project-tile-font {
	color:  orange;
}






.show {
	text-decoration: none;
	color: #f0f0f0;
	padding: .7em 1.4em;
	background-color: #303841;
	border-radius: 2px;
	font-size: 180%;

}
.font-div {
	color: #f0f0f0;
	display: inline-block;
	position: relative;
	animation-name: font-move;
	animation-duration: .5s;
}
/*===========footer=================*/
footer {
	background-color: #303841;
	width: 100%;
	height: auto;
	padding-top: 10em;
	position: relative;
	padding-bottom: 4em;
}

footer h3 {
text-align: center;
	font-weight: bolder;
	font-size: 4.5em;	
}
.footer-para {
	text-align: center;
	font-weight: thin;
	font-style: italic;
	font-size: 1.5em;
}
.contact-link {
		margin: auto;
		width: 60%;
		margin-top:3.7em;
		text-align: center;
		display: flex;
		justify-content: space-evenly;
}
.contact-link a:link, .contact-link a:visited {
	text-decoration: none;
	color: #f0f0f0;
	font-weight: 200;
	font-size: 2em;
	margin-bottom: 6em;
}

hr{
	border: 2px solid #BE3144;
	margin-bottom: 2em;
}
.footer-p-1 {
	display: inline-block;
}
.footer-p-1 {display: inline;
position: absolute;
bottom: 6px;
right: 2px;}